<%- include("../partials/header.ejs") %>
<h1>Details about <%=dino.name %></h1>
<h2>Name: <%= dino.name %></h2>
<h3>Type: <%=dino.type%></h3>
<H4>Dino Id: <%=id%></H4>
<%- include("../partials/footer.ejs") %>